@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<ForumRowerowe.Models.Post> 
@{
    string loggedInUser = @UserManager.GetUserName(User);
    int threadID = (int)TempData["ThreadID"]; //use for Create
    string threadTitle = (string)TempData["ThreadTitle"];
    ViewData["Title"] = threadTitle;
}

<h1>Posty wątku "@threadTitle"</h1>
<p>
    <a asp-action="Create" asp-route-threadID="@threadID" asp-route-threadTitle="@threadTitle">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.PostID > @item.Content
                </td>
                @if(loggedInUser == item.authorID)
                {
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.PostID" asp-route-threadTitle="@threadTitle">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostID">Delete</a>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>
