@model ForumRowerowe.Models.Post

@{
    int threadID = (int)TempData["ThreadID"];
    string threadTitle = (string)TempData["ThreadTitle"];
    ViewData["Title"] = threadTitle;
}

<h1>Stwórz nowy post wątku "@threadTitle"</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ThreadID" class="form-control" value="@threadID" />
                <input type="hidden" name="threadTitle" value="@threadTitle">
            </div>
            <div>
                <input type="file" name="picture" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Stwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-threadID="@threadID" asp-route-threadTitle="@threadTitle">Anuluj - powrót do wątku "@threadTitle"</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
