@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<ForumRowerowe.Controllers.PostWithImg> 
@{
    string loggedInUser = @UserManager.GetUserName(User);
    int threadID = (int)TempData["ThreadID"]; //use for Create
    string threadTitle = (string)TempData["ThreadTitle"];
    ViewData["Title"] = threadTitle;
}
@functions{
    public string NameAuthor(Post post)
    {
        if (post.authorID == null)
        {
            return "anonymous";
        }
        else return post.authorID;
    }
}

<h1>Posty wątku "@threadTitle"</h1>
<p>
    <a asp-action="Create" asp-route-threadID="@threadID" asp-route-threadTitle="@threadTitle">Stwórz nowy</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @NameAuthor(item.Post)
            </td>
            <td>
                @if (item.Post.ImageID != null)
                {
                    <img height="100" width="100"
                    src="@item.ImagePath" alt="" />
                }

                @item.Post.Content
            </td>
            @if (loggedInUser == item.Post.authorID)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Post.PostID" asp-route-threadTitle="@threadTitle">Zmień</a> |
                    <a asp-action="Delete" asp-route-id="@item.Post.PostID" asp-route-threadTitle="@threadTitle">Usuń</a>
                </td>
            }

        </tr>
        }
    </tbody>
</table>
